.vs/
Budget/.vs/
Budget/bin/
Budget/obj/
Budget/Budget.csproj.user
.vscode/
Console/
Core/bin/
Core/obj/
BudgetMssql/bin/
BudgetMssql/obj/
appsettings.json 
XUnitTestCore/bin/
XUnitTestCore/obj/
*.csproj
*.sln