@page "/"

<div class=" row">
    <div class="col text-center">
        <h1>Бюджетирование</h1>
    </div>
</div>

<div class=" row">
    <div class="col text-center">
        <h2>Второй уровень</h2>
    </div>
</div>

<UnitListTable/>
